.field__player-name {
  margin: 40px auto 12px;
  font-weight: 500;
  font-size: 24px;
}

.field__grid {
  margin: 0 auto;
  width: 409px;
  height: 409px;
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  border: silver solid 3px;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 40%);
  transition: box-shadow 1s ease, border .6s ease;
}

.field__grid_player_computer {
  pointer-events: none;
}

.field__grid_inactive {
  border: white;
  box-shadow: none;
  pointer-events: none;
}

.field__reply {
  text-transform: uppercase;
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
}
