.field__player-name {
  margin: 40px auto 12px;
  font-weight: 500;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 409px;
}

.field__grid {
  margin: 0 auto;
  width: 409px;
  height: 409px;
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  border: silver solid 3px;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 40%);
  transition: box-shadow 1s ease, border 0.6s ease;
}

.field__grid_player_computer {
  pointer-events: none;
}

.field__grid_inactive {
  border: white;
  box-shadow: none;
  pointer-events: none;
}

.field__reply {
  text-transform: uppercase;
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 910px) {
  .field__grid {
    width: 309px;
    height: 309px;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
  }

  .field__player-name {
    max-width: 309px;
  }
}

@media screen and (max-width: 730px) {
  .field__grid {
    width: 209px;
    height: 209px;
    grid-template-columns: repeat(10, 20px);
    grid-template-rows: repeat(10, 20px);
  }

  .field__player-name {
    max-width: 209px;
  }
}

@media screen and (max-width: 555px) {
  .field__player-name {
    font-size: 18px;
  }

  .field__reply {
    font-size: 16px;
  }
}
