.main {
    max-width: 1180px;
    margin: 0 auto;
}

.main__title-container {
margin: 30px auto 0;
}

.main__ascii-art {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 0;
}

.main__fields-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 910px) {
    .main {
        max-width: 800px;
    }

    .main__ascii-art {
        font-size: 8px;
    }
}

@media screen and (max-width: 730px) {
    .main {
        max-width: 600px;
    }
}

@media screen and (max-width: 555px) {
    .main__ascii-art {
        font-size: 4px;
    }

    .main__fields-container {
        flex-direction: column;
    }
}